
.main-nav{

    &__list{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 2.5em;
        margin-top: 75px;

        @media (min-width:100px) {
            flex-direction: column;
            margin: auto;
            align-content: center;
            padding: 0;
            gap: .3em;
        }
        @media (min-width:767px) {
            flex-direction: row;
            margin: auto;
            padding: 0;
            gap: 2.5em;
        }
    }

    &__link{
        margin-top: 45px; //// modificar ///
        border-radius: 4px;
        text-decoration: none;
        font-size: 20px;
        padding: 1em;
        color: rgb(61, 61, 61);
        -webkit-box-shadow: 1px 1px 3px 0px rgb(87, 86, 86);
        -moz-box-shadow: 1px 1px 3px 0px rgba(112, 112, 112, 0.997);
        box-shadow: 1px 1px 3px 0px rgb(112, 112, 112);
        cursor: pointer;

        @media (min-width:100px) {
            padding: .5em;
            display: block;
            text-align: center;
            flex-basis: 100%;
            margin-top: 5px;
        }

        @media (min-width:767px) {
            padding: 1em;
            -webkit-box-shadow: 0px 0px 0px 0px rgb(87, 86, 86);
            -moz-box-shadow: 0px 0px 0px 0px rgba(112, 112, 112, 0.997);
            box-shadow: 0px 0px 0px 0px rgb(112, 112, 112);
            margin-top: 45px;
        }
    }
    
    &__link:hover{
        background-color: rgb(247, 247, 106);
        transition:  0.2s 0.1s;
        box-shadow: 1px 1px 4px 2px #ff872c;
    }
}