<!-- <h1>Contacto</h1> -->

<!--<main class="main-contact"> -->
    <h1> Contacto</h1>
    <div class="container-form">
        <p class="container-form__p">Ante cualquier consulta o inquietud, podes dejarnos tu mensaje</p>

        <div class="image-call-center">
            <img src="./img/call-center2.png" alt="lego-call-center">
        </div>

        <!-- <img src="img/59819-lego-removebg-preview.png" class="container-form__img1" alt=""> -->
        <form action="#" class="form">
            
            <div class="form__name-email">
                <div class="container-name">
                    <label for="name" class="form__name-email-name">Nombre</label>
                    <input title="Nombre" type="text" class="form__name-email__name formContact" id="name" placeholder="Nombre" name="name">
                    <div class="form__name-error">
                        <p>Debe ingresar un nombre correcto</p>
                    </div>
                </div>
                <div class="container-email">
                    <label for="email" class="form__name-email-email">Correo Electronico</label>
                    <input title="e-mail" type="text" class="form__name-email__email formContact" id="email" placeholder="Correo electronico" name="mail">
                    <div class="form__email-error">
                        <p>Debe ingresar un email correcto</p>
                    </div>
                </div>
            </div>
            <div class="form__textarea-container">
                <label for="textarea" >Comentarios</label>
                <textarea title="comentario" name="textarea" cols="30" rows="10" class="form__textarea formContact" id="textarea" placeholder="Escriba aqui el comentario que desee"></textarea>
                <div class="form__textarea-error">
                    <p>El comentario debe contener al menos 10 caracteres</p>
                </div>
            </div>
            <input title="boton de enviar" type="submit" class="form__btn-send">
        </form>
    </div>
    <!-- <script src="../js/contacto.js" id="contactScript"></script>  -->
<!--</main> -->
