<!-- <section class="section-cards">
    <header class="section-cards__header">
        <h1>Productos</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </header>

    <div class="cards-container">

    </div>


    <footer class="section-cards__footer">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, distinctio non corrupti unde iste voluptatem.</p>
        <p>Voluptas, corporis modi id odio provident accusamus voluptates inventore harum ad possimus incidunt doloremque voluptatem!</p>
    </footer>

</section> -->
<div class="container-modal">
    <span style="display: none;">Total: $ <strong class="price-total">Lalala</strong></span>
    <div class="modal " id="modal">
        <p class="modal__close-btn">X</p>
        
        



        
    </div>
    <div class="container-interactive">
        <div class="interactive">
            <span class="message">Agregaste un producto al carrito</span>
        </div>
        <div class="interactive" id="interactiveDelete">
            <span class="message">Eliminaste un producto del carrito</span>
        </div>
    </div>
</div>
<!--<div class="slide-container">
    <div class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="img/baner1.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="img/baner2.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="img/baner3.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="img/baner4.png" alt="" class="slider__img">
            </div>
        </div>
        
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div> -->
<section class="section-cards">
    <header class="section-cards__header">
        <h1></h1>
        <p></p>
    </header>


    <div class="cards-container">

        <!-- aca van las cards -->

    </div>



</section> 

<!-- <script src="../js/main.js" id="mainScript"></script>
<script src="../js/modal.js" id="modalScript"></script> -->

