<header>
    <h1>Nosotros</h1>
</header>


<section class="container-cv">

    <div class="cv">
        <img src="./img/cv-luis-pablo-de-la-mano.jpg" alt="curriculum">
    </div>


</section>
<!-- <section class="container-main">
    <div class="cv">

        <div class="container-iconos-menu">

            <div class="container-iconos-menu__iconos">

            </div>

            <div class="container-iconos-menu__menu2">

                <div class="container-iconos-menu__menu2__logo-windows">

                </div>

                <div class="menu3">
                    <div class="menu33__container-menu3"></div>
                    <div class="menu3__container-menu33"></div>
                    <div class="menu3__container-menu33"></div>
                    <div class="menu3__container-menu33"></div>
                    <div class="menu3__container-menu33"></div>
                    <div class="menu3__container-menu33"></div>
                    <div class="menu3__container-menu33"></div>
                </div>

            </div>

        </div>






        <div class="cv__footer">

            <div class="cv__footer__inicio">
                <p>Start</p>
            </div>

            <div class="cv__footer__hours">
                <p>hora</p>
            </div>

        </div>

    </div>
</section> -->